
<h1>omhub</h1>
<p>
	Is a community project for One Month Rails students and alumni!
</p>
<p>
	Find a TODO item you would like to contribute to and become a contributor! 
</p>

<h1>Contributors</h1>
<ul> 
	<li>
		<%= link_to "@Catchpowle", "https://twitter.com/Catchpowle" %>
	</li>
	<li>
		<%= link_to "@EanPlatter", "https://twitter.com/eanplatter" %>
	</li>
</ul>
<h3>TODO</h3>
<ul>
	<li>
		OmniAuth
	</li>
	<li>
		Build in alert system
	</li>
	<li>
		Replace Disqus with build in comments
	</li>
	<li>
		Add "Time spent in development" to Projects Scaffold
	</li>
	<li>
		Add social media handles to user profiles
	</li>
	<li>
		Build in Search Function
	</li>
</ul>
<h3>
	<%= link_to "Become a Contributor", 'https://github.com/catchpowle/omhub', class: "btn btn-lg btn-primary" %>
</h3>