
<h1>omhub</h1>
<p>Is a community effort to display the awesomeness if OMR alumni.</p>

<h1>Contributors</h1>
<ul> 
	<li>
		<%= link_to "@Catchpowle", "https://twitter.com/Catchpowle" %>
	</li>
	<li>
		<%= link_to "@EanPlatter", "https://twitter.com/eanplatter" %>
	</li>
</ul>
<h3>
	<%= link_to "Become a Contributor", 'https://github.com/catchpowle/omhub', class: "btn btn-lg btn-danger" %>
</h3>